<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eric Poon | Hong Kong</title>
    <!-- Library -->
    <script src="/public/javascript/angular.min.js"></script>
    <!-- Angular JS App -->
    <script src="/public/javascript/showcase-app.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/welcome.css">
    <link rel="stylesheet" href="/public/css/navigation.css">
    <link rel="stylesheet" href="/public/css/gallery.css">
    <link rel="stylesheet" href="/public/css/large-photo.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/about.css">

    <!-- Bootstrap -->
    <!---- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!---- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body class='selectDisable' ng-app="showcaseApp" ng-controller="showcaseController">

<welcome ng-show="isShowWelcome"></welcome>

<navigation ng-show="isShowGallery || isShowAbout"></navigation>

<gallery ng-show="isShowGallery"></gallery>

<about ng-show="isShowAbout"></about>

<large-display ng-show="isShowLargePhoto"></large-display>

<footer ng-show="(isShowGallery || isShowAbout) && isGalleryLoaded"></footer>

</body>
</html>