<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eric Poon | Hong Kong</title>
    <!-- Library -->
    <script src="/public/javascript/angular.min.js"></script>
    <!-- Angular JS App -->
    <script src="/public/javascript/showcase-app.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/welcome.css">
    <link rel="stylesheet" href="/public/css/navigation.css">
    <link rel="stylesheet" href="/public/css/gallery.css">
    <link rel="stylesheet" href="/public/css/large-photo.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/about.css">

    <!-- Bootstrap -->
    <!---- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!---- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body class='selectDisable' ng-app="showcaseApp" ng-controller="showcaseController">

<welcome ng-show="isShowWelcome"></welcome>

<div class="navigation-area" ng-show="isShowGallery || isShowAbout">
    <ul class="navigationBar">
        <li><a id='about-option' class="not-selected" ng-click="showAbout()">About</a></li>
        <li><a id='photography-option' class="not-selected" ng-click="showGallery()">Photography</a></li>
        <li><a id='home-option' class="not-selected" ng-click="showWelcome()">Home</a></li>
        <li><p id="logo-label">Eric Photography</p></li>
    </ul>
</div>

<div class="gallery-area" ng-show="isShowGallery">
    <div ng-repeat="n in photos | orderBy: 'index'" class="photo-outer">
        <div class="photo-inner" ng-mouseover="showInfo(n._id)" ng-mouseleave="hideInfo(n._id)"
             ng-click="showBigImage(n._id)">
            <!-- TODO: Should use actual file instead of base 64 to improve performance, should do cache -->
            <img src='{{n.photoData}}' class="photo">
            <div class="overlay"></div>
            <!--<div class="info hideInfo selectDisable" ng-class="n._id">-->
            <!--<div class="infoLabel">-->
            <!--<p class="title">{{n.title}}</p>-->
            <!--<p class="description">{{n.description}}</p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<about ng-show="isShowAbout"></about>

<div class="footer-area" ng-show="(isShowGallery || isShowAbout) && !isGalleryLoading">
    <div class="footerInfoContainer">
        <p class="copyright">© Eric Poon 2017.</p>
        <p class="note">Powered by MongoDB, Express, AngularJS and NodeJS</p>
    </div>
</div>


<div class="large-photo-area" ng-show="isShowLargePhoto">
    <div class="bigPhoto-outer whiteBkgd">
        <img class='bigPhoto selectDisable' src="{{bigPhoto.photoData}}" ng-hide="isBigImageLoading">
        <p class="backButton button" ng-click="showGallery()">x</p>
        <p class="leftButton button" ng-click="showPrev()" ng-hide="isFirstPhoto"><</p>
        <p class="rightButton button" ng-click="showNext()" ng-hide="isLastPhoto">></p>
    </div>
</div>

</body>
</html>