.about-area {

    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    min-height: calc(100% - 232px);
}


.about-area .container-fluid {
    padding-top: 100px;
}

.about-area .col-left {
    text-align: right;
}

.about-area .col-right {
    text-align: left;
}

.about-area .col-left img {
    width: 370px;
}

.about-area .col-right p {
    width: 360px;
    transform: translateY(-4px);
}

