.about-area {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    min-height: calc(100% - 162px);
}

.about-area .container-fluid {
    /* make vertically center */
    margin: 0;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-area .col-left {
    text-align: right;
}

.about-area .col-right {
    text-align: left;
}

.about-area .col-left img {
    width: 370px;
}

.about-area .col-right p {
    width: 360px;
    transform: translateY(-4px);
}