/* Footer */
.footer-area {
}

.footer-area .footer {
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-area p.copyright {
    float: left;
    color: #999999;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    margin-left: 100px;
}

.footer-area p.note {
    text-align: right;
    color: #999999;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    margin-right: 100px;
}

.footer-area .footerInfoContainer {
    border-top: 1px solid #b3b3b3;
}
