/* Footer */
.footer-area {
    clear: left;
    /*width: calc(var(--content-width) - var(--photo-padding) * 2);*/
    /*width: var(--content-width);*/
    width: 100%;
    margin: auto;
}

.footer-area .container-fluid {
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: 1px solid #b3b3b3;
}


.footer-area .container-fluid p {
    color: #999999;
    font-size: 14px;
    padding: 30px 0;
    position: relative;
    top: 0;bottom: 0;margin: auto;
}

.footer-area .container-fluid p.left {
    text-align: left;
    margin-left: 50px;
}

.footer-area .container-fluid p.right {
    text-align: right;
    margin-right: 50px;
}