/* Footer */
.footer-area {
    clear: left;
    /*width: calc(var(--content-width) - var(--photo-padding) * 2);*/
    /*width: var(--content-width);*/
    width: 100%;
    margin: auto;
}

.footer-area p.copyright {
    float: left;
    color: #999999;
    font-size: 14px;
    margin-left: 100px;
    padding: 30px 0;
}

.footer-area p.note {
    text-align: right;
    color: #999999;
    font-size: 14px;
    margin-right: 100px;
    padding: 30px 0;
}

.footer-area .footerInfoContainer {
    border-top: 1px solid #b3b3b3;
}
