/* Navigation Bar */

.navigation-area {
    padding-bottom: 70px;
}

.navigation-area .navbar {
    border-bottom: 1px solid #b3b3b3;
    background-color: rgba(255,255,255,0.8);
}

.navigation-area a.selected {
    color: #c40c0c;
}

.navigation-area a.not-selected {
    color: #999999;
}