<div class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-left">
                <img src="/public/images/profile.jpg" id="profile-picture">
            </div>
            <div class="col-xs-6 col-right">
                <p id="intro">
                    Hey! Warm welcome, this is Eric. I was born and raised in Guangzhou and now is an undergraduate in Hong
                    Kong.
                    <br><br>
                    I like photography, as it helps me to capture the happiness during my life journey, but more
                    importantly, it has the power of conveying some values and emotions. I believe a photo with wonderful
                    color and composition is nice, but a photo with story behind would be awesome.
                    <br><br>
                    I'm currently working on this website, my personal photography portfolio
                    (<a href="https://github.com/Ericpoon/Photography">codes available at GitHub</a>).
                    <br><br>
                    More features and photos are coming soon, please stay tuned :)
                    <br><br>
                    Look forward to hearing from you.
                    <br><br>
                    Hope you enjoy.
                </p>
            </div>
        </div>
    </div>
</div>