<div class="gallery-area">
    <div ng-repeat="n in photos | orderBy: 'index'" class="photo-outer">
        <div class="photo-inner" ng-mouseover="showInfo(n._id)" ng-mouseleave="hideInfo(n._id)"
             ng-click="showBigImage(n._id)">
            <!-- TODO: Should use actual file instead of base 64 to improve performance, should do cache -->
            <img src='{{n.photoData}}' class="photo">
            <div class="overlay"></div>
            <!--<div class="info hideInfo selectDisable" ng-class="n._id">-->
            <!--<div class="infoLabel">-->
            <!--<p class="title">{{n.title}}</p>-->
            <!--<p class="description">{{n.description}}</p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>