<div class="navigation-area">
    <nav class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" ng-click="showWelcome()" href="">Eric Photography</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a id='home-option' ng-class="{'selected': isShowWelcome}" ng-click="showWelcome()" href="">Home</a>
                </li>
                <li>
                    <a id='photography-option' ng-class="{'selected': isShowGallery}" ng-click="showGallery()" href="">Photography</a>
                </li>
                <li>
                    <a id='about-option' ng-class="{'selected': isShowAbout}" ng-click="showAbout()" href="">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="editor">Editor</a>
                </li>
            </ul>

        </div>
    </nav>
</div>